@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "mixin";
@import "banner";
@import "post";

.navbar-brand {
  max-width: 50px
}

.bg-repeat-0 {
  background-repeat: no-repeat;
}

.bg-size-cover {
  background-size: cover;
  background-position: center;
}

.position-relative {
  position: relative;
}

a {
  cursor: pointer;
}


.container-height {
  min-height: calc(100vh - 230px);
  padding-top: 41.5px;
}